
<body ng-cloak>

    
    <div class="searchPage">
            <div class="searchWrapper">
                <form>
                    <div class="searchInput">
                        <label class="item item-input">
                    <!-- <span class="input-label">Search</span> -->
                          <input type="text" ng-model="userInput" placeholder="Add Beer to List">
                        </label>
                    </div>
                        
                    <div class="searchButton">
                        <button class="btn btn-primary btn-lg" ng-click="search()">Search</button>
                    </div>
                </form>
            </div>
        
    </div>

 <div class= "flex-container">

    <div class="searchDisplay" ng-show="searched">
        <div class="left-container">
            <img src="{{beer.labels.large}}" width="150px" alt="beer picture here">
        </div>
    
        <div class="right-container">
            <h1>{{beer.nameDisplay}}</h1>
            <h4><strong>Brewery: <strong>{{beer.breweries[0].name}}</h4>
            <h4><p><strong>Style: </strong> {{beer.style.name}}</p></h4>
            <h4><p><strong>ABV: </strong>{{beer.abv}}</p></h4>

        </div>
        <div class="addBeerButton"> 
            <button class="btn btn-primary btn-lg" ng-click="saveToList()">Add Beer To List</button>
            <h4 ng-show="saveSuccess">Beer Added</h4>
        </div>

    </div>     
</div> 






</body>



<!-- <ul class="rating">
    <li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)"></li>
</ul>

<div beer-rating rating-value="beer.rating" max="5" on-rating-selected="saveRatingToFirebase(beer, rating)"></div> -->